body {
    font-family: 'Noto Sans', sans-serif; 
    font-weight: 300;  
}



/* colours */

.bgc-1{
    background-color: #2F4858;
}

.bgc-1a{
    background-color: #f8f8f8;
}

.bgc-2{
    background-color: #D3FBD8;
}
.bgc-3{
    background-color: #7CB2AC;
}
.fc-1{
    color: #f8f8f8;
}

.fc-1a{
    color: #2F4858;
}




/* navigation bar */

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 78px;
} 
.navbar-brand{
    letter-spacing: 0.75px;
}
.nav-item a{
    letter-spacing: 0.75px;
    color: #fdfbfb;
    font-weight: 300;
}
.nav-item a:hover{
    color: #a6daf1;
    opacity: 0.8;

}
.navbar-nav .nav-item .active{
    background-color: none;
    font-weight: 600;
}
/* navbar toggler */
body > div.container-fluid.navalert-container.p-0.m-0 > nav > div > button{
    border: none;
    color: transparent;
}




/* footer */
.footer-container{
    padding:0;
}
.footer{
    height: 35vh;
    min-height: 250px;
    max-height: 300px;
    padding-top: 20px;
}
.footer .contact-thumbnail-container{
    font-size: 17px;
    color: white;
    padding: 0;
}
.footer .contact-thumbnail-container a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.footer .contact-thumbnail-container a:hover{
    opacity: 0.5;
}
.footer-thumbnail-icon i{
    font-size: 35px;
}
.footer-image-container img{
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-height: 175px;
    margin-bottom: 5px;
}
.footer-image-container p{
    margin: 0;
}
.footer-bio-container{
    color: white; 
}



/* copyright */
.copyright{
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 50px;
}



/* modal */
.modal{
    font-family: 'lato', sans-serif;
}



/* --------------------------------------------------------- general */



/* containers */
.wwd-container{
    
}
.content-container{
    padding: 8vh 0px;
    font-family: 'Lato', sans-serif;
}
.cover-container{
    background-image: url("/assets/images/globe6.png");
    background-position: top -25% right -15% ;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    margin-top:  78px;
}
.callout{
    position: relative;
}



/* headers */
.page-header h2{
    font-size: 40px;
}
.page-header{
    text-align: center;
    margin-bottom: 35px;
}



/* block dividers */
.block-divider{
    width: 80px;
    background-color: seagreen;
    border: 0;
    border-top: 4px solid rgba(46, 139, 86, 0.878);
    margin: 20px auto;
    padding: 0;
}



/* buttons */
.btn{
    font-weight: 300;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: 'roboto slab', sans-serif;

    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn:hover{
    opacity: 0.8;
}
.btn-green{
    background-color: seagreen;
    color: white;
}
.btn-green:hover{
    background-color: seagreen;
    color: white;
}

.contact-button{
    font-weight: 400;
}
.contact-button:hover{
    opacity: 0.8;
}
.get-in-touch{
    padding:12px;
    margin: 8px 30px ;
}



/* images */
.product-image{
    border-radius: 1%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* media queries */
@media (max-width: 768px) {
    .callout-container{
     height: 80vh;
    }
    .callout-header h2{
        font-size: 37px!important;
    }
}



/* hover.css */
.hvr-fade:hover{
    background-color: rgb(35, 103, 65);
}



/* --------------------------------------------------------- index.html */



/* callout */

.callout-header{
    color: white;
    background-color: black;
}
.callout-header h2{
    font-size: 44px
}
.callout-link-container{
    min-height: 135px;
    background-color: seagreen;
    text-align: center;
    padding: 0;
}
.callout-link{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'roboto slab', sans-serif;
    margin: 0;
    padding: 2px;
}
.callout-link i{
    font-size: 30px;
    padding-top: 32px;
}
.callout-link-container:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.callout .btn{
    font-size: 21px;
}